
@{
    ViewBag.Title = "ErrorPage";
}
<div class="jumbotron">
    <h2>WOOOPS!</h2>
    <p>Looks like you tried to sneak around, sadly you got caught. If you reaaally want to see this page go ask an adult to show you.</p>
</div>


