@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Milly-∞'s Company Creation Simulator</h1>
    <p class="lead">In here you can create a company and manage the skills and employees of your company.</p>
        
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            First you need to register yourself to Milly-∞'s company cration simulation, do so by clicking the "Register" button up in the top right.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>What to do next?</h2>
        <p>In the next window of Milly-∞'s company creation simulation, you will be greeted by a "Create company" or " Join exsting company", if you have a refrence code from a already exsisting company, you can paste it in here to join it.</p>
        
    </div>
    <div class="col-md-4">
        <h2>If you Create a company what then?</h2>
        <p>When you create a company with Milly-∞'s company creation simulation, you will automaticcly be assigned as and Admin, from here you can add skills to the company and see you and your users as well as their levels and foci.</p>
        
    </div>
</div>